html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10pt, for easy rem sizing */
  background: url("./images/funny-half-cat-photoshop-battle-12-57357f7356826__700.jpg");
  background-size: cover;
}

.container {
  height: 66vh;
  max-width: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 3rem;
  width: 200px;
}

.buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.scoreboard {
  background-color: hsla(0, 0%, 100%, 66%);
  margin-top: 30px;
  height: 42px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  gap: 100px;
  align-items: center;
}
